<div id="<%= dom_id event_category %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= event_category.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event_category.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= event_category.icon %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Parent category:</strong>
    <%= event_category.parent_category_id %>
  </div>
</div>
