<div id="<%= dom_id event_ticket %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= event_ticket.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Event:</strong>
    <%= event_ticket.event_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ticket type:</strong>
    <%= event_ticket.ticket_type_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Attendance:</strong>
    <%= event_ticket.attendance_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ticket code:</strong>
    <%= event_ticket.ticket_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= event_ticket.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= event_ticket.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Used at:</strong>
    <%= event_ticket.used_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Refunded at:</strong>
    <%= event_ticket.refunded_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Payment reference:</strong>
    <%= event_ticket.payment_reference %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Transaction:</strong>
    <%= event_ticket.transaction_id %>
  </div>
</div>
